.huy{
	color: blue;
	font-size: 20;
	
}

.black_block{
	width: 150px;
    padding-left: 65px;
    margin-top: 50px;
    height: 100px;
    background-color: black;
    border-radius: 35px;
}
.orange_block{
    width: 35px;
    padding-left: 65px;
    margin-top: 50px;
    height: 75px;
    background-color: #DF7401;
    border-radius: 35px;
    display: block;
	}