*{
  box-sizing: border-box;
}

.container {
  display: flex;
  background: rgba(206, 206, 211, 0.44);
  height: 600px;
  flex-flow: wrap;
  width: 850px;
  margin: auto;
  border-radius: 20px;


  &_b-enter-in-control-panel {
    flex-basis: 50%;
    padding: 0 50px;
    &__link {
      margin-top: 10px;
    }
    &__link-item {
      color: gray;
    }
    &__input {
      width: 300px;
      height: 25px;
      border: 1px solid rgba(128, 128, 128, 0.48);
      border-radius: 3px;
    }
    &__button-enter {
      background-color: #4A4848;
      width: 300px;
      height: 40px;
      color: #ffffff;
      border-radius: 5px;
      border: none;
      margin-top: 10px;
    }
    &_block {
      padding-right: 0;
      .b-insert-1{
        border-right: 1px solid gray;
        padding: 50px;
      }
    }
  }
}




@media only screen and (max-width: 790px){
  .b-insert-1{
    border: none;
  }
}

.b-register {
  flex-basis: 50%;
  padding: 0 50px;
  &__input {
    width: 300px;
    height: 25px;
    border: 1px solid rgba(128, 128, 128, 0.48);
    border-radius: 3px;
  }
  &__button-create-acc {
    background-color: #4f9635;
    width: 300px;
    height: 40px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
  }
}

.under-media{
  flex-basis: 100%;
  text-align: center;
  margin-right: 30px;
}

.b-insert-2 {
  border-top: 1px solid gray;
  margin-right: 20px;
  display: inline-block;
  width: 335px;
  margin-left: 20px;
}

@media only screen and (max-width: 660px){
  .b-insert-2{
    display: none;
  }
}



.b-media-enter {
  flex-basis: 100%;
  text-align: center;
  &__media-link {
    text-decoration: none;
    color: #ffffff;
  }
}

.fa.vk {
  color: #417197;
}

.fa.facebook {
  color: #697aa6;
}

.fa.google-plus {
  color: #88493a;
}

.arrow {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: black;
  border-bottom: 0;
  vertical-align: bottom;
}

.footer {
  flex-basis: 100%;
  text-align: center;
  border-top: 1px solid gray;
  &__jino {
    font-size: 30px;
    font-weight: bolder;
    color: rgba(128, 128, 128, 0.58);
  }
}

.header-name {
  font-size: 25px;
  font-weight: normal;
}

