* {
  box-sizing: border-box;
}

.container {
  background: rgba(206, 206, 211, 0.44);
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  margin: auto;
  border-radius: 20px;


  @media (max-width: 768px) {
    width: auto;
  }

  &__block {
    flex-basis: 50%;
    padding: 0 37px;


    @media (max-width: 768px) {
      flex-basis: 100%;
    }

    &_border {
      padding-right: 0;
      .e-border {
        border-right: 1px solid gray;
        &__link {
          margin-top: 10px;
        }
        &__link-item {
          color: gray;
        }
        &__input {
          width: 300px;
          height: 25px;
          border: 1px solid rgba(128, 128, 128, 0.48);
          border-radius: 3px;
        }
        &__button-enter {
          background-color: #4A4848;
          width: 300px;
          height: 40px;
          color: #ffffff;
          border-radius: 5px;
          border: none;
          margin-top: 10px;
        }
        @media (max-width: 768px) {
          border: none;
        }
      }
    }
.register-input{
  width: 300px;
  height: 25px;
  border: 1px solid rgba(128, 128, 128, 0.48);
  border-radius: 3px;
  &__button-create-acc{
    background-color: #4f9635;
    width: 300px;
    height: 40px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
  }
}
    &__separator {
      flex-basis: 100%;
      text-align: center;
      margin-top: 30px;

      @media (max-width: 768px) {
        display: none;
      }

      .e-line, .e-title {
        display: inline-block;
      }

      .e-line {
        width: 40%;
        border-top: 1px solid gray;
        vertical-align: middle;
      }
    }

    &__social {
      flex-basis: 100%;
      text-align: center;
      margin-top: 10px;
      &__social-link{
        text-decoration: none;
        color: #ffffff;
      }
    }

    &__footer {
      flex-basis: 100%;
      text-align: center;
      border-top: 1px solid gray;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-top: 30px;
      background-color: #bcbcbc;
      &__jino {
        font-size: 30px;
        font-weight: bolder;
        color: rgba(128, 128, 128, 0.58);
      }
    }
  }
}

.fa.vk {
  color: #417197;
}

.fa.facebook {
  color: #697aa6;
}

.fa.google-plus {
  color: #88493a;
}
